.workout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.workout_zone-1 .workout__title,
.workout_zone-2 .workout__title,
.workout_zone-3 .workout__title,
.workout_zone-4 .workout__title,
.workout_zone-5 .workout__title {
    opacity: 0.5;
}

.workout__title .zone {
    display: none;
}

.workout_zone-1 .workout__title .default,
.workout_zone-2 .workout__title .default,
.workout_zone-3 .workout__title .default,
.workout_zone-4 .workout__title .default,
.workout_zone-5 .workout__title .default {
    display: none;
}

.workout_zone-1 .workout__title .zone-1,
.workout_zone-2 .workout__title .zone-2,
.workout_zone-3 .workout__title .zone-3,
.workout_zone-4 .workout__title .zone-4,
.workout_zone-5 .workout__title .zone-5 {
    display: block;
}

.workout_zone-1 .workout__title,
.workout_zone-1 .workout__heart-rate {
    color: #fff;
}
.workout_zone-2 .workout__title,
.workout_zone-2 .workout__heart-rate {
    color: #fff;
}
.workout_zone-3 .workout__title,
.workout_zone-3 .workout__heart-rate {
    color: #fff;
}
.workout_zone-4 .workout__title,
.workout_zone-4 .workout__heart-rate {
    color: #fff;
}
.workout_zone-5 .workout__title,
.workout_zone-5 .workout__heart-rate {
    color: #fff;
}

.workout_zone-1,
.workout__button_zone-1 {
    background: #5ac8fa;
}

.workout_zone-2,
.workout__button_zone-2 {
    background: #7cc234;
}

.workout_zone-3,
.workout__button_zone-3 {
    background: #ffcc00;
}

.workout_zone-4,
.workout__button_zone-4 {
    background: #b43cbc;
}

.workout_zone-5,
.workout__button_zone-5 {
    background: #e92744;
}

.workout__title {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 48px;
    color: #8e8e93;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
}

.workout__heart-rate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    margin: auto;
    font-size: 120px;
    font-weight: normal;
    line-height: 120px;
    text-align: center;
}

.workout__button {
    position:  absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.workout__button .pause {
    display: inline;
}

.workout__button .begin {
    display: none;
}

.workout__button_paused .pause {
    display: none;
}

.workout__button_paused .begin {
    display: inline;
}

.workout__button_connect {
    color: #333;
}

.workout__button_connect .heart,
.workout__button_connect .connect {
    vertical-align: middle;
}

.workout__button_connect .heart {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: initial;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: forwards;
    animation-play-state: initial;
}

@keyframes blink {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}
